doctype html
html
	include inc/head.jade
	body
		include inc/header.jade
		include inc/banner2.jade
		section.products2.heading-bachhoa.pad30_0
			.container
				.row
					.col-lg-12
						h2 sản phẩm bán chạy
					.col-lg-12
						ul.nav.nav-tabs.padbt0_30
							li
								h3.active.show(data-toggle='tab', href='#cate1_tab1') Trái cây
							li
								h3(data-toggle='tab', href='#cate1_tab2') Rau củ
							li
								h3(data-toggle='tab', href='#cate1_tab3') Hải sản
							li
								h3(data-toggle='tab', href='#cate1_tab4') Các loại thịt
							li
								h3(data-toggle='tab', href='#cate1_tab5') Đồ hộp
							li
								h3(data-toggle='tab', href='#cate1_tab6') Đồ khô
					.tab-content
						#cate1_tab1.tab-pane.fade.in.active.show
							.row.padtp50_0
								.col-lg-3.col-md-6.col-6
									a.item(href='#')
										.img.hover-img2.animated
											img.lazy(data-src='img/product1.jpg')
											span.sticker Sale
										h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
										p Tinh chất dưỡng sáng da, nâng cơ mặt...
										span.options
											span.price
												span.new 3.700.000đ
												span.old 4.700.000đ
											span.rate
												i.fa.fa-star.green
												i.fa.fa-star.green
												i.fa.fa-star.green
												i.fa.fa-star.green
												i.fa.fa-star
								.col-lg-3.col-md-6.col-6
									a.item(href='#')
										.img.hover-img2.animated
											img.lazy(data-src='img/product1.jpg')
											span.sticker Sale
										h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
										p Tinh chất dưỡng sáng da, nâng cơ mặt...
										span.options
											span.price
												span.new 3.700.000đ
												span.old 4.700.000đ
											span.rate
												i.fa.fa-star.green
												i.fa.fa-star.green
												i.fa.fa-star.green
												i.fa.fa-star.green
												i.fa.fa-star
								.col-lg-3.col-md-6.col-6
									a.item(href='#')
										.img.hover-img2.animated
											img.lazy(data-src='img/product1.jpg')
											span.sticker Sale
										h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
										p Tinh chất dưỡng sáng da, nâng cơ mặt...
										span.options
											span.price
												span.new 3.700.000đ
												span.old 4.700.000đ
											span.rate
												i.fa.fa-star.green
												i.fa.fa-star.green
												i.fa.fa-star.green
												i.fa.fa-star.green
												i.fa.fa-star
								.col-lg-3.col-md-6.col-6
									a.item(href='#')
										.img.hover-img2.animated
											img.lazy(data-src='img/product1.jpg')
											span.sticker Sale
										h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
										p Tinh chất dưỡng sáng da, nâng cơ mặt...
										span.options
											span.price
												span.new 3.700.000đ
												span.old 4.700.000đ
											span.rate
												i.fa.fa-star.green
												i.fa.fa-star.green
												i.fa.fa-star.green
												i.fa.fa-star.green
												i.fa.fa-star

						#cate1_tab2.tab-pane.fade
						#cate1_tab3.tab-pane.fade
						#cate1_tab4.tab-pane.fade
						#cate1_tab5.tab-pane.fade
						#cate1_tab6.tab-pane.fade

		include inc/footer.jade
		include inc/script.jade