doctype
html
	include inc/head.jade
	body
		include inc/header.jade
		include inc/banner.jade
		include inc/spatrilieu.jade
		include inc/dichvu.jade
		//include inc/video.jade
		include inc/customer.jade
		include inc/banggia.jade
		include inc/footer.jade
		include inc/script.jade