doctype
html
	include inc/head.jade
	body
		include inc/header.jade
		include inc/banner.jade
		include inc/spatrilieu.jade
		include inc/dichvunoibat.jade
		include inc/footer.jade
		include inc/script.jade