// Banner
section.banner.banner-bachhoa
  .owl-carousel.owl-theme.main-banner
    a.item.lazy(href='#', data-src='img/bachhoa/background.jpg')
    a.item.lazy(href='#', data-src='img/bachhoa/background.jpg')
    a.item.lazy(href='#', data-src='img/bachhoa/background.jpg')