// Footer
footer#footer-new
  .footer-top.pad30_0
    .container
      .row
        .col-lg-3.col-md-6
          .item
            .img
              img.lazy(data-src='img/f1.png')
            h3
              | Cam kết
              br
              | hàng chính hãng
        .col-lg-3.col-md-6
          .item
            .img
              img.lazy(data-src='img/f2.png')
            h3
              | Tích điểm
              br
              | thành viên vip
        .col-lg-3.col-md-6
          .item
            .img
              img.lazy(data-src='img/f3.png')
            h3
              | Miễn phí
              br
              | vận chuyển
        .col-lg-3.col-md-6
          .item
            .img
              img.lazy(data-src='img/f4.png')
            h3
              | Chăm sóc
              br
              | & tư vấn tận tình
  .footer-bottom.pad50_0
    .container
      .row
        .col-lg-3.col-md-6
          a.footer-logo(href='#')
            img.padbt0_20(src='img/logo.jpg', alt='')
          p
            span(style='text-decoration: underline;margin: 0 5px 0 0') HCM:
            | 49 Hoa Sứ, P.7, Q.Phú Nhuận
          p
            span(style='text-decoration: underline;margin: 0 5px 0 0') HN:
            | Tòa Nhà AC, 79 Duy Tân Cầu Giấy
          a(href='#')
            img.padtp30_0(src='img/bocongthuong.png', alt='')
        .col-lg-3.col-md-6
          h4 Thông tin công ty
          ul
            li
              a(href='#') Giới thiệu
            li
              a(href='#') Chính sách đổi trả hàng
            li
              a(href='#') Góp ý – Khiếu nại
            li
              a(href='#') Quy chế bảo mật
            li
              a(href='#') Chuyển qua giao diện Mobile
        .col-lg-3.col-md-6
          h4 Hướng dẫn - hợp tác
          ul
            li
              a(href='#') Hỗ trợ khách hàng
            li
              a(href='#') Hướng dẫn mua hàng
            li
              a(href='#') Hình thức giao hàng
            li
              a(href='#') Hình thức thanh toán
            li
              a(href='#') Bán buôn, bán sỉ
        .col-lg-3.col-md-6
          h4 Liên hệ
          ul
            li
              a(href='tel:0888845999')
                img(src='img/i-f1.jpg', alt='')
                | 08 888 45 999
            li
              a(href='tel:0933888001')
                img(src='img/i-f2.jpg', alt='')
                | 0933 888 001
            li
              a(href='tel:0966666711')
                img(src='img/i-f3.jpg', alt='')
                | 0966 666 711
            li
              a(href='mailto:dangcapphaidep@gmail.com')
                img(src='img/i-f4.jpg', alt='')
                | dangcapphaidep@gmail.com
            li
              a(href='http://facebook.com/dangcapphaidep.net')
                img(src='img/i-f4.jpg', alt='')
                | fb.com/dangcapphaidep.net
  .footer-copyright.pad30_50
    .container
      img.lazy(data-src='img/copyright.png')
a#top.active(href='#top')
  i.fa.fa-arrow-up
