// Header
header#header
  .nav-top
    .container
      .row.align-items-center
        .col-lg-3.col-md-12.col-xs-12
          a(href='/')
            img(src='img/logo.jpg', alt='')
          a.top(href='javascript:void(0)')
            i.fa.fa-bars
        .col-lg-5
          form.search
            input(type='search', placeholder='Bạn cần tìm gì hôm nay ?')
            input(type='submit', value='')
            i.fa.fa-search
        .col-lg-4
          .nav-it_rh.float-right
            a.hotline(href='tel:08888 45 999')
              img(src='img/icon.jpg', alt='')
              span 08888 45 999
            a.cart(href='#')
              img(src='img/cart.jpg', alt='')
              span 5
            .lg-right
              ul
                li
                  a(href='#')
                    | Đăng nhập
                    img(src='img/icon.png', alt='')
  .menu.menu-desktop
    .container
      .row.align-items-center
        .m_left
          ul
            li
              a(href='#')
                | Thương hiệu
                img(src='img/icon.png', alt='')
              .sub-hover.animated.hover-style1
                .col-menu
                  .col-menu-ite
                    span A
                    ul
                      li
                        a(href='#') Astalift
                      li
                        a(href='#') Avène
                  .col-menu-ite
                    span F
                    ul
                      li
                        a(href='#') Fracora
                      li
                        a(href='#') Frezyderm
                  .col-menu-ite
                    span I
                    ul
                      li
                        a(href='#') Image Skincare
                      li
                        a(href='#') Is Clinical
                      li
                        a(href='#') Isis Pharma
                .col-menu
                  .col-menu-ite
                    span B
                    ul
                      li
                        a(href='#') Bella
                      li
                        a(href='#') BR Derm
                  .col-menu-ite
                    span G
                    ul
                      li
                        a(href='#') Fracora
                      li
                        a(href='#') Frezyderm
                  .col-menu-ite
                    span J
                    ul
                      li
                        a(href='#') Jada
                      li
                        a(href='#') Jan Marini
                      li
                        a(href='#') JCprogram
                .col-menu
                  .col-menu-ite
                    span C
                    ul
                      li
                        a(href='#') CHANEL
                      li
                        a(href='#') Clarisonic
                      li
                        a(href='#') Clinique
                      li
                        a(href='#') Clytie
                      li
                        a(href='#') Collagen
                      li
                        a(href='#') CREED
                  .col-menu-ite
                    span K
                    ul
                      li
                        a(href='#') Kelo Cote
                      li
                        a(href='#') KENZO
                      li
                        a(href='#') KILIAN
                .col-menu
                  .col-menu-ite
                    span D
                    ul
                      li
                        a(href='#') DC Cosmetics
                      li
                        a(href='#') Dermaceutic
                      li
                        a(href='#') Dermalogica
                      li
                        a(href='#') Dermesse
                      li
                        a(href='#') DIOR
                      li
                        a(href='#') DKNY
                      li
                        a(href='#') DMK
                      li
                        a(href='#') Dr. Brandt
                      li
                        a(href='#') Dr. Select
                      li
                        a(href='#') Dr.Lin
                      li
                        a(href='#') Dr.Spiller
                .col-menu
                  .col-menu-ite
                    span E
                    ul
                      li
                        a(href='#') Elancyl
                      li
                        a(href='#') ELTAMD
                      li
                        a(href='#') Endocare
                      li
                        a(href='#') Eucerin
                  .col-menu-ite
                    span H
                    ul
                      li
                        a(href='#') Heliocare
                  .col-menu-ite
                    span L
                    ul
                      li
                        a(href='#') Lione
                      li
                        a(href='#') Luma Nano
            li
              a(href='#')
                | Chăm sóc da
                img(src='img/icon.png', alt='')
            li
              a(href='#')
                | Collagen
                img(src='img/icon.png', alt='')
            li
              a(href='#')
                | Mi, mày, tóc
                img(src='img/icon.png', alt='')
              .sub-hover.animated.hover-style2
                ul
                  li
                    a(href='#') Dưỡng tay chân
                  li
                    a(href='#') Chống nắng
                  li
                    a(href='#') Da nhạy cảm
                  li
                    a(href='#') Điều Trị Rạn Nứt Da
                  li
                    a(href='#') Kem Chống Nhăn, Chống Lão Hóa
                  li
                    a(href='#') Kem chống thâm vùng mắt
                ul
                  li
                    a(href='#') Dưỡng tay chân
                  li
                    a(href='#') Chống nắng
                  li
                    a(href='#') Da nhạy cảm
                  li
                    a(href='#') Điều Trị Rạn Nứt Da
                  li
                    a(href='#') Kem Chống Nhăn, Chống Lão Hóa
                  li
                    a(href='#') Kem chống thâm vùng mắt
            li
              a(href='#')
                | Sức khỏe
                img(src='img/icon.png', alt='')
            li
              a(href='#')
                | Giảm cân
                img(src='img/icon.png', alt='')
            li
              a(href='#')
                | Nước hoa
                img(src='img/icon.png', alt='')
            li
              a(href='#')
                | Trang điểm
                img(src='img/icon.png', alt='')
        .m_right
          ul
            li
              a(href='#')
                | Kinh nghiệm làm đẹp
                img(src='img/icon.png', alt='')
              .sub-hover.animated.hover-style2
                ul
                  li
                    a(href='#') Dưỡng tay chân
                  li
                    a(href='#') Chống nắng
                  li
                    a(href='#') Da nhạy cảm
                  li
                    a(href='#') Điều Trị Rạn Nứt Da
                  li
                    a(href='#') Kem Chống Nhăn, Chống Lão Hóa
                  li
                    a(href='#') Kem chống thâm vùng mắt
                ul
                  li
                    a(href='#') Dưỡng tay chân
                  li
                    a(href='#') Chống nắng
                  li
                    a(href='#') Da nhạy cảm
                  li
                    a(href='#') Điều Trị Rạn Nứt Da
                  li
                    a(href='#') Kem Chống Nhăn, Chống Lão Hóa
                  li
                    a(href='#') Kem chống thâm vùng mắt
                ul
                  li
                    a(href='#') Dưỡng tay chân
                  li
                    a(href='#') Chống nắng
                  li
                    a(href='#') Da nhạy cảm
                  li
                    a(href='#') Điều Trị Rạn Nứt Da
                  li
                    a(href='#') Kem Chống Nhăn, Chống Lão Hóa
                  li
                    a(href='#') Kem chống thâm vùng mắt
  .menu-mobile.fadeInDown.animated
    .container
      ul
        li
          a(href='#') Thương hiệu
        li
          a(href='#') Chăm sóc da
        li
          a(href='#') Collagen
        li
          a(href='#') Mi, mày, tóc
        li
          a(href='#') Sức khỏe
        li
          a(href='#') Giảm cân
        li
          a(href='#') Nước hoa
        li
          a(href='#') Trang điểm
        li
          a(href='#') Kinh nghiệm làm đẹp		
