section.heading2.pad30_0
  .container
    .row
      .col-lg-12
        h2 
          span Video
    .row.padtp30_0
      .owl-carousel.owl-theme.main-spa-1.main-spa-custom
        -for(i=0;i<4;i++)
          a(href="#").item
            img(src='img/spa/spa2.png', alt='')
            h3 Chăm Sóc Da Mặt